@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom right, #e0f2f1, #ffffff);
    height: 100%;
    width: 100%;
}

body {
    font-family: Open Sans;
    text-align: center;
    height: 100%;
    width: 100%;
}

form {
    text-align: left;
}

nav {
    text-align: left;
    background: #ff8a65;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
}

nav>ul>li {
    float: left;
    width: 190px;
}

.submenu>li>a {
    border-top: 1px #c75b39 dashed;
    display: block;
    margin:8px 7px 8px 7px;
    text-align: center;
}

a {
    height: 100%;
    color: black;
    margin: 20px;
    text-decoration: none;
    font-weight: bolder;
    letter-spacing: .1em;
}

header {
    margin-top: 120px;
}

#div1 {
    background-color: whitesmoke;
    margin:auto;
    width:50%;
    text-align: center;
    font-family: sans-serif;
    padding: 30px;
    margin-top: 50px;
}

ul{
    list-style: none;
}

fieldset{
    width: fit-content;
    margin: auto;
}

.list {
    font-size: 20px;
    list-style-position: inside;
}

input {
    text-align: right;
}

.exchangeRateTable {
    border: 2px solid black;
    border-collapse: collapse;
}

#hiddenTable {
    display: none;
}

#draggable {
    display: inline-block;
}

#text {
    width: 250px;
    height: 100px;
}

#resultDisplay {
    width: 450px;
    height: 200px;
}

.ui-helper-hidden-accessible{
    display: none;
}

.ui-tooltip{
    background-color: white;
    outline: 2px, solid, black;
}

.interestTables{
    display: inline-flex;
    width:auto;
}

.interestTable{
    border: 1px black solid;
    border-collapse: collapse;
    margin:50px;
}

th, td{
    border: 2px black solid;
    padding: 4px;
}

th{
    background-color: #c75b39;
    color: black;
}

tr:nth-child(even){
    background-color: #ffbb93;
}

tr:nth-child(odd){
    background-color: #ffffff;
}

table {
    margin: 30px auto 30px auto;
}